Source: device-overo
Section: embedded
Priority: extra
Maintainer: Bill Gatliff <bgat@billgatliff.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3

Package: device-overo
Architecture: all
Multi-Arch: foreign
Description: Root package for the Gumstix Overo
 This package is part of Pragmatux http://pragmatux.org
Depends:
 default-root-sshkey-device,
 board-overo,
 dtb-overo,
 bootscr-omap3,
 mount-mmcblk0p1-as-boot,
 baseconfig-ptux,
 firmware-libertas,
 iw,
 rfkill,
 wpasupplicant,
 ptux-essential,
 systemd-sysv,
 dpkg-autoconfigure-at-boot,
 vim-tiny,
 procps,
 wget,
 module-init-tools,
 accounts-root-password,
 connman-run,
 openssh-client,
 openssh-server,
 iproute,
 iputils-ping,
 apt-transport-https,
 apt-source-ptux-device,
 ${misc:Depends}
